.flex-container {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
  flex-wrap: wrap;
}

.flex-container .flex-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #444;
  color: #fff;
  border-radius: 2px;
  overflow: hidden;
  margin-right: 5px;
  margin-bottom: 5px;
}

.flex-container .flex-item .content {
  padding-left: 8px;
  padding-right: 8px;
  font-size: 16px;
}

.flex-container .flex-item .icon {
  flex-shrink: 0;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  cursor: pointer;
  height: 100%;
}

.flex-container .flex-item .icon:hover {
  background-color: #888;
}
.settings{
  margin-top: 33px;
  text-align: center;
}

.image-url{
  width: 80%;
}

.upload{
  margin-top: -96px;
  margin-left: 81%;
}

.labels{
  margin-top: -38px;
}

.header{
  text-transform: uppercase;
  color: #7b4c4c;
}
.img-url{
  width: 80%;
}
